*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 30px;
  width: 1140px;
  height: fit-content;
  margin-bottom: 50px;
}

.result {
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  padding-right: 3px; /*отступы для состояний*/
  padding-bottom: 2px;
  padding-top: 2px;
}

.content__list-item {
  margin-bottom: 30px;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
  border-radius: 0px;
}

.content__card-link:active {
  background-color: #545050;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
  display: block;
}


.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  align-items: start;
}

.search-form__submit-button {
  align-self: flex-end;
}

.search-form__fieldset {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  border: 0px;
  height: 100%;
}

/*.search-form__fieldset:nth-child(2n):not(.search-form__fieldset-title) {
  flex: 1;
  align-items: start;
  flex-direction: row;
}*/

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /*padding-bottom: 8px;*/
  align-items: center;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  border: 0px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  vertical-align: middle;
  border: 1px #fff solid;
  background-clip: content-box;
}

.search-form__pseudo-checkbox:active {
  background-color: #fff;
}

input[type='checkbox']:checked + span {
  background-color: #fff;
}

.button {
  flex: 1;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  padding: 5px;
  height: fit-content;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__label .search-form__textfield {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  min-width: 225px;
  height: 27px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  color: #fff;
  appearance: none;
}

.search-form__textfield:active, .search-form__textfield:focus {
 background-color: transparent;
 outline: none;
}

.search-form__textfield:focus-visible, .button:focus-visible, .search-form__label:has(input[type='checkbox']:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
} /* одинаковые состояния для кнопок и формы поиска*/

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label:focus-visible {
  border: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  border: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-width: 399px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description {
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 65px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-position: center;
  object-fit: fill;
}

.title {
  font-size: 75px;
  font-weight: bold;
  line-height: 93%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: 'Oswald', 'Arial', sans-serif;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px; 
  line-height: 93%;
  letter-spacing: 0;
}